.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: grey;
}

.quadrado_azul {
  background-color: blue;
   flex-direction: row;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  text-align: start;  
}

.quadrado_vermelho {
  background-color: red;
   flex-direction: row;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
}

.quadrado_amarelo {
  background-color: yellow;
   flex-direction: row;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  text-align: end;
}